<div class="container event-container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-7">
            <%= image_tag event_img((@events_item.main_image), 'main').to_s, style: 'width: 100%;' %>
        </div>
        <div class="col-12-sm col-md-12 col-lg-5">
            <h1><%= @events_item.name.upcase %></h1>
            <hr>
            <p><%= @events_item.description %></p>
            <p><%= @events_item.date_event.strftime("%d-%m-%Y %H:%M") %></p>
            <%= link_to 'Editar', edit_event_path(@events_item) if logged_in?(:site_admin) %>
        </div>

        <div class="col-md-7">
            <%= render "comments/comments_form" %>
            <div id="comments" data-event-id="<%= @events_item.id %>">
                <%= render @events_item.comments %>
            </div>
        </div>
    </div>
</div>

