<div class="container event-container">
    <div class="row">
        <div class="col-md-7">
            <%= image_tag event_img((@events_item.main_image), 'main').to_s %>
        </div>
        <div class="col-md-5">
            <h1><%= @events_item.name.upcase %></h1>
            <hr>
            <p><%= @events_item.description %></p>
            <p><%= @events_item.date_event %></p>
            <%= link_to 'Editar', edit_event_path(@events_item) if logged_in?(:site_admin) %>
        </div>

        <div class="col-md-7">
            <!-- Start of comment form -->
            <%# No mostrar el contenido si el usuario es un GuestUser%>
            <% unless current_user.is_a?(GuestUser)%>
                <%= form_for @comment, url: '#' do |f| %>
                    <div class="form-group">
                        <%= f.label :Contenido %>
                        <%= f.text_area :content, class: 'form-control' %>
                    </div>

                    <%= f.submit 'Comentar', class: 'btn btn-primary' %>
                <% end %>
            <% end %>
            <!-- End of comment form -->

            <!-- Start of comments -->
            <%= render @events_item.comments %>
            <!-- End of comments -->
        </div>
    </div>
</div>

