<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <% order.errors.full_messages.each do |error| %>
      <%= js add_gritter(error, title: "Maybe Enjoy?", sticky: false) %>
    <% end %>
  <% end %>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.text_field :product_id %>
  </div>

  <div class="field">
    <%= form.label :sell_id %>
    <%= form.text_field :sell_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
