<div class="contenedor-productos">
  <div class="row py-4">
      <% @products.each do |product| %>
        <div class="card-product">
          <div class="card-img-top">
            <%= image_tag product_img((product.imgProduct), 'imgProduct').to_s, style: 'width: 100%;' %>
          </div>
          <div class="card-body">
            <h3 class="card-title"><%= product.name %></h3>
            <p class="card-text"><%= product.description %></p>
            <p class="card-text"><%= "Q. " + "#{product.price}" %></p>
            <%= link_to "Detalles", product_show_path(product), class: "btn btn-sm btn-primary" %>
          </div>
        </div>
      <% end%>
  </div>
  <br>  
</div>
