
<%= form_for @sell do |form| %>
  <% if sell.errors.any? %>
    <% sell.errors.full_messages.each do |error| %>
      <%= alert_generator error %>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= form.label :sell_date %>
    <%= form.date_select :sell_date %>
  </div>

  <%= form.fields_for :products do |product_form| %>
    <div>
      <%= render 'product_fields', f: product_form %>
    </div>
  <% end %>

  <div>
    <%= link_to_add_association 'Agregar Producto', form, :products %>
  </div>

  <div class="form-group">
    <%= form.submit %>
  </div>
<% end %>
