<%= form_with(model: sell, local: true) do |form| %>
  <% if sell.errors.any? %>
    <% sell.errors.full_messages.each do |error| %>
      <%= alert_generator error %>
    <% end %>
  <% end %>

  <div class="field">
    <%= form.label :sell_date %>
    <%= form.date_select :sell_date %>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= form.text_field :total %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
