<p id="notice"><%= notice %></p>

<h1>Sells</h1>

<table>
  <thead>
    <tr>
      <th>Date sell</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sells.each do |sell| %>
      <tr>
        <td><%= sell.date_sell %></td>
        <td><%= sell.total %></td>
        <td><%= link_to 'Show', sell_show_path(sell) %></td>
        <td><%= link_to 'Edit', edit_sell_path(sell) %></td>
        <td><%= link_to 'Destroy', sell, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sell', new_sell_path %>
