<div class="contenedor-productos">
  <div class="row py-4">
    <div class="col-12">
      <% if logged_in?(:site_admin) %>
        <%= link_to "Crear Venta", new_sell_path, class: 'btn btn-primary' %>
      <% end %>
    </div>
    <div class="col-12">
      <% @sells.each do |sell| %>
        <div class="card-sell">
          <div class="row">
            <div class="col-6">
              <h3>Fecha: </h3>
            </div>
            <div class="col-6">
              <h3><%= sell.sell_date.strftime("%d-%m-%Y")%></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <h3>Total: </h3>
            </div>
            <div class="col-6">
              <h3><%= "Q. " + "#{sell.total}" %></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <h3>Mesa: </h3>
            </div>
            <div class="col-12 col-md-6">
              <h3><%= sell.table %></h3>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <h3>Productos: </h3>
            </div>
            <div class="col-12 col-md-6">
              <h3><%= sell.products.count %></h3>
            </div>
          </div>
          <%= link_to "Detalles", sell_show_path(sell), class: 'btn btn-primary'%>
        </div>
      <% end %>

    </div>
  </div>
</div>