<p id="notice"><%= notice %></p>

<p>
  <strong>Sell date:</strong>
  <%= @sell.sell_date %>
</p>

<p>
  <strong>Total:</strong>
  <%= @sell.total %>
</p>

<p>
  <strong>Productos:</strong>
  <% @sell.products.each do |product| %>
    <%= product.name %>
    <%= product.price %>
    <%= product.description %>
  <% end %>
</p>

<%= link_to 'Edit', edit_sell_path(@sell) %> |
<%= link_to 'Back', sells_path %>