<div class="container-product">
  <div class="card-show-sell">
    <div class="row py-4">
      <div class="col-12 text-center">
        <h3><%= "Fecha: " + "#{@sell.sell_date.strftime("%d-%m-%Y ")}" %></h3>
      </div>

      <div class="col-12 text-center">
        <h3><%= "Total: Q" + "#{@sell.total}" %></h3>
      </div>

      <div class="col-12 text-right">
        <%= link_to "Atrás", sells_path, class: 'btn btn-primary', style: 'font-size: 20px;'%>
      </div>
    </div>

    <div class="row">
        <% @sell.products.each do |product| %>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="card my-4">
                  <div class="card-header", style="font-size: 20px;">
                    <%= product.name %>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-4 text-center", style="font-size: 20px;">
                        <%= "Precio: " + "Q. " + "#{product.price}" %>
                        <br>
                        <%= "Descripción: " + "#{product.description}" %>
                        <br>
                        <% product.orders.each do |order| %>
                          <%= "Cantidad: " + "#{order.quantity}" %>
                        <% end %>
                      </div>
                      <div class="col-md-8 text-center">
                        <%= image_tag product.imgProduct.to_s %>
                      </div>
                    </div>
                  </div>
                  
              </div>
            </div>
          </div>
        <% end %> 
    </div>
  </div>
</div>