<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# meta para poner palabras claves %>
    <meta name="keywords" content="<%= @seo_keywords %>" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <header>
      <nav class="be-black white large-padding">
        <ul class="row center-xs middle-xs no-dots">
          <li class="col-md">
            <h1 class="no-margin" id="logo">
              Maybe Enjoy?
            </h1>
          </li>
          <li class="col-md">
            <%# Llamando al partial llamado nav %>
            <%= render "shared/nav", location: 'top' %>
          </li>
        </ul>
      </nav>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%# Llamando a un método helper %>
      <%= login_helper %>
    </header>
    <%# Permite conectar con cualquier otro archivo html%>
    <%= yield %>
  </body>
</html>
