<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# meta para poner palabras claves %>
    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag    'events', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# Llamando al partial llamado event_nav para el navbar %>
    <%= render "shared/event_nav" %>
    
    <%# Llamando al partial llamado event_masthead para el masthead %>
    <%= render "shared/event_masthead" %>
    <%# Permite conectar con cualquier otro archivo html%>
    <%= yield %>

    <%# Partial para mostrar el copyright %>
    <%= render "shared/event_footer"%>
    
  </body>
</html>
