<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# meta para poner palabras claves %>
    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag    'sells', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>    
    <%# Llamando al partial llamado application_nav %>
    <%= render "shared/application_nav" %>
    
    <%# Permite conectar con cualquier otro archivo html%>
    <%= yield %>

    <%# Llamando al partial llamado application_footer %>
    <%= render "shared/application_footer" %>

    <%# Llamando a un método helper para las alertas %>
    <%= alerts %>
  </body>
</html>
